<li class="imgHeight54">
    <a class="box" data-box="trait/elementsOfRage" href="javascript:void(0);" id="P.ELEMENTS_OF_RAGE" style="border: transparent solid 2px;">
        <img alt="Elements of Rage" src="https://wiki.guildwars2.com/images/a/a2/Elements_of_Rage.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/superiorElements" href="javascript:void(0);" id="P.SUPERIOR_ELEMENTS" style="border: transparent solid 2px;">
        <img alt="Superior Elements" src="https://wiki.guildwars2.com/images/4/46/Superior_Elements.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
<li class="filler width58"></li>
<li class="filler width58"></li>
