<li class="imgHeight54">
    <a class="box onClick" data-box="trait/hematicFocus" data-onclick="10" href="javascript:void(0);" id="P.HEMATIC_FOCUS" style="border: transparent solid 2px;">
        <img alt="Hematic Focus" src="https://wiki.guildwars2.com/images/0/01/Hematic_Focus.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box onClick" data-box="trait/highCaliber" data-onclick="15" href="javascript:void(0);" id="P.HIGH_CALIBER" style="border: transparent solid 2px;">
        <img alt="High Caliber" src="https://wiki.guildwars2.com/images/a/a4/High_Caliber.png">
    </a>
</li>
<li class="width58"></li>
<li class="width58"></li>
<li class="width58"></li>
<li class="width58"></li>
