<li class="imgHeight54">
    <a class="box" data-box="trait/radiantPower" href="javascript:void(0);" id="P.RADIANT_POWER" style="border: transparent solid 2px;">
        <img alt="Radiant Power" src="https://wiki.guildwars2.com/images/4/40/Radiant_Power.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/rightHandStrength" href="javascript:void(0);" id="P.RIGHT_HAND_STRENGTH" style="border: transparent solid 2px;">
        <img alt="Right-Hand Strength" src="https://wiki.guildwars2.com/images/7/71/Right-Hand_Strength.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/righteousInstincts" href="javascript:void(0);" id="P.RIGHTEOUS_INSTINCTS" style="border: transparent solid 2px;">
        <img alt="Righteous Instincts" src="https://wiki.guildwars2.com/images/b/ba/Radiant_Retaliation.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
<li class="filler width58"></li>
