<li class="imgHeight54">
    <a class="box" data-box="trait/deathPerception" href="javascript:void(0);" id="P.DEATH_PERCEPTION" style="border: transparent solid 2px;">
        <img alt="Death Perception" src="https://wiki.guildwars2.com/images/6/60/Death_Perception.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/decimateDefenses" href="javascript:void(0);" id="P.DECIMATE_DEFENSES" style="border: transparent solid 2px;">
        <img alt="Decimate Defenses" src="https://wiki.guildwars2.com/images/7/73/Decimate_Defenses.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/furiousDemise" href="javascript:void(0);" id="P.FURIOUS_DEMISE" style="border: transparent solid 2px;">
        <img alt="Furious Demise" src="https://wiki.guildwars2.com/images/0/0c/Furious_Demise.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box" data-box="trait/targetTheWeak" href="javascript:void(0);" id="P.TARGET_THE_WEAK" style="border: transparent solid 2px;">
        <img alt="Target the Weak" src="https://wiki.guildwars2.com/images/e/ea/Target_the_Weak.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
