<li class="imgHeight54">
    <a href="javascript:void(0);" id="huntersTactics" style="border: transparent solid 2px;">
        <img alt="Hunter's Tactics" src="https://wiki.guildwars2.com/images/b/bb/Hunter%27s_Tactics.png">
    </a>
</li>
<li class="imgHeight54">
    <a href="javascript:void(0);" id="preciseStrike" style="border: transparent solid 2px;">
        <img alt="Precise Strike" src="https://wiki.guildwars2.com/images/6/61/Precise_Strike.png">
    </a>
</li>
<li class="imgHeight54">
    <a href="javascript:void(0);" id="viciousQuarry" style="border: transparent solid 2px;">
        <img alt="Vicious Quarry" src="https://wiki.guildwars2.com/images/2/2e/Vicious_Quarry.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
