<li class="imgHeight54">
    <a class="box onClick" data-box="trait/huntersTactics" data-onclick="10" href="javascript:void(0);" id="P.HUNTERS_TACTICS" style="border: transparent solid 2px;">
        <img alt="Hunter's Tactics" src="https://wiki.guildwars2.com/images/b/bb/Hunter%27s_Tactics.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box onClick" data-box="trait/preciseStrike" data-onclick="1" href="javascript:void(0);" id="P.PRECISE_STRIKE" style="border: transparent solid 2px;">
        <img alt="Precise Strike" src="https://wiki.guildwars2.com/images/6/61/Precise_Strike.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="box onClick" data-box="trait/viciousQuarry" data-onclick="10" href="javascript:void(0);" id="P.VICIOUS_QUARRY" style="border: transparent solid 2px;">
        <img alt="Vicious Quarry" src="https://wiki.guildwars2.com/images/2/2e/Vicious_Quarry.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
<li class="filler width58"></li>
