<li class="imgHeight54">
    <a href="javascript:void(0);" id="burstPrecision" style="border: transparent solid 2px;">
        <img alt="Burst Precision" src="https://wiki.guildwars2.com/images/2/23/Burst_Precision.png">
    </a>
</li>
<li class="imgHeight54">
    <a href="javascript:void(0);" id="doubledStandards" style="border: transparent solid 2px;">
        <img alt="Doubled Standards" src="https://wiki.guildwars2.com/images/d/dd/Doubled_Standards.png">
    </a>
</li>
<li class="imgHeight54">
    <a href="javascript:void(0);" id="unsuspectingFoe" style="border: transparent solid 2px;">
        <img alt="Unsuspecting Foe" src="https://wiki.guildwars2.com/images/8/82/Unsuspecting_Foe.png">
    </a>
</li>
<li class="filler width58"></li>
<li class="filler width58"></li>
<li class="filler width58"></li>
