<ul class="imgHeight32">
    <li>
        <a href="javascript:void(0);" id="elementsOfRage" style="border: transparent solid 2px;">
            <img alt="Elements of Rage" src="https://wiki.guildwars2.com/images/a/a2/Elements_of_Rage.png">
            Elements of Rage
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="superiorElements" style="border: transparent solid 2px;">
            <img alt="Superior Elements" src="https://wiki.guildwars2.com/images/4/46/Superior_Elements.png">
            Superior Elements
        </a>
    </li>
</ul>
