<ul class="imgHeight32">
    <li>
        <a href="javascript:void(0);" id="hematicFocus" style="border: transparent solid 2px;">
            <img alt="Hematic Focus" src="https://wiki.guildwars2.com/images/0/01/Hematic_Focus.png">
            Hematic Focus
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="highCaliber" style="border: transparent solid 2px;">
            <img alt="High Caliber" src="https://wiki.guildwars2.com/images/a/a4/High_Caliber.png">
            High Caliber
        </a>
    </li>
</ul>
