<ul class="imgHeight32">
    <li>
        <a href="javascript:void(0);" id="radiantPower" style="border: transparent solid 2px;">
            <img alt="Radiant Power" src="https://wiki.guildwars2.com/images/4/40/Radiant_Power.png">
            Radiant Power
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="rightHandStrength" style="border: transparent solid 2px;">
            <img alt="Right-Hand Strength" src="https://wiki.guildwars2.com/images/7/71/Right-Hand_Strength.png">
            Right-Hand Strength
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="righteousInstinct" style="border: transparent solid 2px;">
            <img alt="Righteous Instinct" src="https://wiki.guildwars2.com/images/b/ba/Radiant_Retaliation.png">
            Righteous Instinct
        </a>
    </li>
</ul>
