<ul class="imgHeight18">
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="deathPerception" style="border: transparent solid 2px;">
            <img alt="Death Perception" src="https://wiki.guildwars2.com/images/6/60/Death_Perception.png">
        </a>
        <span>Death Perception</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="decimateDefenses" style="border: transparent solid 2px;">
            <img alt="Decimate Defenses" src="https://wiki.guildwars2.com/images/7/73/Decimate_Defenses.png">
        </a>
        <span>Decimate Defenses</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="furiousDemise" style="border: transparent solid 2px;">
            <img alt="Furious Demise" src="https://wiki.guildwars2.com/images/0/0c/Furious_Demise.png">
        </a>
        <span>Furious Demise</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="targetTheWeak" style="border: transparent solid 2px;">
            <img alt="Target the Weak" src="https://wiki.guildwars2.com/images/e/ea/Target_the_Weak.png">
        </a>
        <span>Target the Weak</span>
    </li>
</ul>
