<ul class="imgHeight18">
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="spotter" style="border: transparent solid 2px;">
            <img alt="Spotter" src="https://wiki.guildwars2.com/images/b/b0/Spotter.png">
        </a>
        <span>Spotter</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="viciousQuarry" style="border: transparent solid 2px;">
            <img alt="Vicious Quarry" src="https://wiki.guildwars2.com/images/2/2e/Vicious_Quarry.png">
        </a>
        <span>Vicious Quarry</span>
    </li>
</ul>
