<ul class="imgHeight18">
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="beQuickOrBeKilled" style="border: transparent solid 2px;">
            <img alt="Be Quick or Be Killed" src="https://wiki.guildwars2.com/images/3/34/Be_Quick_or_Be_Killed.png">
        </a>
        <span>Be Quick or Be Killed</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="hiddenKiller" style="border: transparent solid 2px;">
            <img alt="Hidden Killer" src="https://wiki.guildwars2.com/images/e/ec/Hidden_Killer.png">
        </a>
        <span>Hidden Killer</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="keenObserver" style="border: transparent solid 2px;">
            <img alt="Keen Observer" src="https://wiki.guildwars2.com/images/8/82/Keen_Observer.png">
        </a>
        <span>Keen Observer</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="silentScope" style="border: transparent solid 2px;">
            <img alt="Silent Scope" src="https://wiki.guildwars2.com/images/5/5b/Silent_Scope.png">
        </a>
        <span>Silent Scope</span>
    </li>
    <li class="height52 tooltip width52">
        <a href="javascript:void(0);" id="twinFangs" style="border: transparent solid 2px;">
            <img alt="Twin Fangs" src="https://wiki.guildwars2.com/images/5/5b/Silent_Scope.png">
        </a>
        <span>Twin Fangs</span>
    </li>
</ul>
