<ul class="imgHeight18">
    <li>
        <a href="javascript:void(0);" id="beQuickOrBeKilled" style="border: transparent solid 2px;">
            <img alt="Be Quick or Be Killed" src="https://wiki.guildwars2.com/images/3/34/Be_Quick_or_Be_Killed.png">
            Be Quick or Be Killed
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="keenObserver" style="border: transparent solid 2px;">
            <img alt="Keen Observer" src="https://wiki.guildwars2.com/images/8/82/Keen_Observer.png">
            Keen Observer
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="silentScope" style="border: transparent solid 2px;">
            <img alt="Silent Scope" src="https://wiki.guildwars2.com/images/5/5b/Silent_Scope.png">
            Silent Scope
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="twinFangs" style="border: transparent solid 2px;">
            <img alt="Twin Fangs" src="https://wiki.guildwars2.com/images/5/5b/Silent_Scope.png">
            Twin Fangs
        </a>
    </li>
</ul>
