.aPadding9 a:link, a:visited {
    padding: 9px;
}

.aPadding11 a:link, a:visited {
    padding: 11px;
}

.aPadding15 a:link, a:visited {
    padding: 15px;
}

.aPadding18 a:link, a:visited {
    padding: 18px;
}
