#apiKey {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #FFFFFF;
    font-family: 'PT Serif', serif;
    margin: 0 0 0 15px;
    padding: 15px;
    transition: .15s;
}

#apiKey:focus, #apiKey:hover {
    background: rgba(98, 164, 218, .5);
}
