#critOptimizer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#critOptimizer > div {
    border: rgba(0, 0, 0, .5) solid 2px;
    margin: 0 15px 15px 15px;
    padding: 2px;
    z-index: 1;
}
