#head {
    display: flex;
    z-index: 1;
}

#head label {
    background-image: url("https://discretize.eu/static/tooltip-background-a7d14391e094de620543e9afbb96a3c7.png");
    border: #000000 solid 2px;
    color: #62A4DA;
    font-family: 'PT Serif', serif;
    margin: 0 15px 0 0;
    padding: 0 0 0 15px;
    text-shadow: #000000 1px 1px;
}
