.filler {
    background-color: rgba(0, 0, 0, .5);
}

.marginBottom15 {
    margin-bottom: 15px;
}

.marginLeftRight15 {
    margin-left: 15px;
    margin-right: 15px;
}

.menu {
    border: transparent solid 2px;
}

.slot {
    position: relative;
}

.slotPrecision {
    left: 6px;
    position: absolute;
    top: 4px;
}

/* index.html */

#background {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

#textureCrystalS {
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    position: absolute;
    width: 100%;
}

#fog {
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

#bottomGraphics {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

#mainMenu {
    margin-top: 15px;
}

#github a, #github img {
    border-radius: 99px;
}

#countdown {
    align-items: center;
    bottom: 32px;
    color: #FFFFFF;
    display: flex;
    font-family: "JetBrains Mono", serif;
    font-size: 32px;
    height: 32px;
    position: fixed;
    right: 32px;
}

/* precisionCalculator.html */

#tooltipBox {
    display: flex;
}

/* uceCounter.html */

#item {
    background-image: url("https://discretize.eu/static/gw2a--2xxYo-bcb9f385f6b4d1fde8546c4730c687a1.png");
    border: #000000 solid 2px;
    box-shadow: #000000 15px 15px 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif', serif;
    margin-top: 15px;
    padding: 15px;
    text-shadow: #000000 1px 1px;
    z-index: 1;
}

#inGameDescription {
    font-size: 24px;
}

#gold {
    color: #C39A40;
}

#silver {
    color: #848B8D;
}

#copper {
    color: #4F3319;
}
