<h1 class="marginLeftRight15">Precision Calculator</h1>
<p class="marginLeftRight15">Designed for Fractals of the Mists, the precision calculator allows you to optimize your chances of critical hits without exceeding a precision threshold.<br>
    It takes into account:<br>
    • Agony Impedance&nbsp&nbsp&nbsp&nbsp• Fractal Attunements<br>
    • Attributes&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Gizmos<br>
    • Boons&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Mist Attunements<br>
    • Conditions&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Professions<br>
    • Consumables&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Sigils<br>
    • Effects&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Traits<br>
    • Equipment&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp• Utility Skills<br>
</p>
