<div class="page">
    <div id="home">
        <h1 id="home0">Welcome to Fiery Greatsword.</h1>
        <ul>
            <li>
                <p id="home1">Designed for Fractals of the Mists, the precision calculator allows you to optimize your chances of critical hits without exceeding a precision threshold. It takes into account:</p>
                <ul>
                    <li id="home2">Agony Impedance</li>
                    <li id="home3">Attributes</li>
                    <li id="home4">Boons</li>
                    <li id="home5">Conditions</li>
                    <li id="home6">Consumables</li>
                    <li id="home7">Effects</li>
                    <li id="home8">Equipment</li>
                    <li id="home9">Fractal Attunements</li>
                    <li id="home10">Gizmos</li>
                    <li id="home11">Mist Attunements</li>
                    <li id="home12">Professions</li>
                    <li id="home13">Sigils</li>
                    <li id="home14">Traits</li>
                    <li id="home15">Utility Skills</li>
                </ul>
            </li>
            <li>
                <p id="home16">The UCE counter calculates, using an API key, the number of unstable cosmic essences of an account.</p>
            </li>
        </ul>
        <p id="home17">If you have questions, suggestions or if you encounter a bug you can contact me on Discord.</p>
    </div>
    <img alt="Overflow" class="width100" src="img/input/index/overflow.png">
</div>
