<div class="page">
    <div id="home">
        <h1>
            <span class="home0">Welcome</span>
            <span class="home1">to</span>
            <span class="home2">Fiery</span>
            <span class="home3">Greatsword.</span>
<!-- Welcome to Fiery Greatsword. -->
        </h1>
        <ul>
            <li>
                <p>
                    <span class="home4">Designed</span>
                    <span class="home5">for</span>
                    <span class="home6">Fractals</span>
                    <span class="home7">of</span>
                    <span class="home8">the</span>
                    <span class="home9">Mists,</span>
                    <span class="home10">the</span>
                    <span class="home11">precision</span>
                    <span class="home12">calculator</span>
                    <span class="home13">allows</span>
                    <span class="home14">you</span>
                    <span class="home15">to</span>
                    <span class="home16">optimize</span>
                    <span class="home17">your</span>
                    <span class="home18">chances</span>
                    <span class="home19">of</span>
                    <span class="home20">critical</span>
                    <span class="home21">hits</span>
                    <span class="home22">without</span>
                    <span class="home23">exceeding</span>
                    <span class="home24">a</span>
                    <span class="home25">precision</span>
                    <span class="home26">threshold.</span>
                    <span class="home27">It</span>
                    <span class="home28">takes</span>
                    <span class="home29">into</span>
                    <span class="home30">account:</span>
<!-- Designed for Fractals of the Mists, the precision calculator allows you to optimize your chances of critical hits without exceeding a precision threshold. It takes into account: -->
                </p>
                <ul>
                    <li>
                        <span class="home31">Agony Impedance</span>
                    </li>
                    <li>
                        <span class="home32">Attributes</span>
                    </li>
                    <li>
                        <span class="home33">Boons</span>
                    </li>
                    <li>
                        <span class="home34">Conditions</span>
                    </li>
                    <li>
                        <span class="home35">Consumables</span>
                    </li>
                    <li>
                        <span class="home36">Effects</span>
                    </li>
                    <li>
                        <span class="home37">Equipment</span>
                    </li>
                    <li>
                        <span class="home38">Fractal Attunements</span>
                    </li>
                    <li>
                        <span class="home39">Gizmos</span>
                    </li>
                    <li>
                        <span class="home40">Mist Attunements</span>
                    </li>
                    <li>
                        <span class="home41">Professions</span>
                    </li>
                    <li>
                        <span class="home42">Sigils</span>
                    </li>
                    <li>
                        <span class="home43">Traits</span>
                    </li>
                    <li>
                        <span class="home44">Utility Skills</span>
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    <span class="home45">The</span>
                    <span class="home46">UCE</span>
                    <span class="home47">counter</span>
                    <span class="home48">calcuates, </span>
                    <span class="home49">using</span>
                    <span class="home50">an</span>
                    <span class="home51">API</span>
                    <span class="home52">key,</span>
                    <span class="home53">the</span>
                    <span class="home54">number</span>
                    <span class="home55">of</span>
                    <span class="home56">unstable</span>
                    <span class="home57">cosmic</span>
                    <span class="home58">essences</span>
                    <span class="home59">of</span>
                    <span class="home60">an</span>
                    <span class="home61">account.</span>
<!-- The UCE counter calculates, using an API key, the number of unstable cosmic essences of an account. -->
                </p>
            </li>
        </ul>
        <p>
            <span class="home62">If</span>
            <span class="home63">you</span>
            <span class="home64">have</span>
            <span class="home65">questions,</span>
            <span class="home66">suggestions</span>
            <span class="home67">or</span>
            <span class="home68">if</span>
            <span class="home69">you</span>
            <span class="home70">encounter</span>
            <span class="home71">a</span>
            <span class="home72">bug</span>
            <span class="home73">you</span>
            <span class="home74">can</span>
            <span class="home75">contact</span>
            <span class="home76">me</span>
            <span class="home77">on</span>
            <span class="home78">Discord.</span>
<!-- If you have questions, suggestions or if you encounter a bug you can contact me on Discord. -->
        </p>
    </div>
    <img alt="Overflow" class="width100" src="img/input/index/overflow.png">
</div>
