<div class="page">
    <div id="description">
        <h1>Welcome to Fiery Greatsword.</h1>
        <ul>
            <li>
                <p>Designed for Fractals of the Mists, the precision calculator allows you to optimize your chances of critical hits without exceeding a defined precision threshold.<br>It takes into account:</p>
                <ul>
                    <li>Agony Impedance</li>
                    <li>Attributes</li>
                    <li>Buffs</li>
                    <li>Conditions</li>
                    <li>Consumables</li>
                    <li>Equipment</li>
                    <li>Fractal Attunements</li>
                    <li>Gizmos</li>
                    <li>Mist Attunements</li>
                    <li>Professions</li>
                    <li>Sigils of Accuracy</li>
                    <li>Traits</li>
                    <li>Utility Skills</li>
                </ul>
                <p>Depending on the variables, equipment modifications are recommended.</p>
            </li>
            <li>
                <p>The UCE counter calculates, using an API key, the number of unstable cosmic essences of an account.</p>
            </li>
        </ul>
        <p>If you have questions, suggestions or if you encounter a bug you can contact me on Discord.</p>
    </div>
</div>
