<div id="uceCounter">
    <div id="head">
        <label>
            <input id="apiKey" placeholder="API KEY" type="text">
        </label>
        <input id="fetch" type="button" value="Fetch">
    </div>
    <div id="item">
        <div id="heading">
            <img alt="Unstable Cosmic Essence" src="https://wiki.guildwars2.com/images/9/90/Aetherblade_Challenge_Mote.png">
            <p>&nbsp</p>
            <span id="uce">0</span>
            <p id="s">&nbspUnstable Cosmic Essence</p>
        </div>
        <div id="inGameDescription">
            <div>Bling-9009 might be interested in particular<br>quantities of these...<br><br>Trophy<br>Account Bound</div>
        </div>
        <div id="value">
            <span id="gold">0&nbsp</span>
            <img alt="gold" src="https://wiki.guildwars2.com/images/d/d7/Gold_coin_%28highres%29.png">
            <span id="silver">&nbsp&nbsp0&nbsp</span>
            <img alt="silver" src="https://wiki.guildwars2.com/images/c/c1/Silver_coin_%28highres%29.png">
            <span id="copper">&nbsp&nbsp0&nbsp</span>
            <img alt="copper" src="https://wiki.guildwars2.com/images/1/11/Copper_coin_%28highres%29.png">
        </div>
    </div>
</div>
