<li class="imgHeight54">
    <a class="traitBox traitOnClick" data-box="trait/beQuickOrBeKilled" data-onclick="200" href="javascript:void(0);" id="P.BE_QUICK_OR_BE_KILLED" style="border: transparent solid 2px;">
        <img alt="Be Quick or Be Killed" src="https://wiki.guildwars2.com/images/3/34/Be_Quick_or_Be_Killed.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="traitBox traitOnClick" data-box="trait/hiddenKiller" data-onclick="1" href="javascript:void(0);" id="P.HIDDEN_KILLER" style="border: transparent solid 2px;">
        <img alt="Hidden Killer" src="https://wiki.guildwars2.com/images/e/ec/Hidden_Killer.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="traitBox traitOnClick" data-box="trait/keenObserver" data-onclick="5" href="javascript:void(0);" id="P.KEEN_OBSERVER" style="border: transparent solid 2px;">
        <img alt="Keen Observer" src="https://wiki.guildwars2.com/images/8/82/Keen_Observer.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="traitBox traitOnClick" data-box="trait/silentScope" data-onclick="240" href="javascript:void(0);" id="P.SILENT_SCOPE" style="border: transparent solid 2px;">
        <img alt="Silent Scope" src="https://wiki.guildwars2.com/images/5/5b/Silent_Scope.png">
    </a>
</li>
<li class="imgHeight54">
    <a class="traitBox traitOnClick" data-box="trait/twinFangs" data-onclick="7" href="javascript:void(0);" id="P.TWIN_FANGS" style="border: transparent solid 2px;">
        <img alt="Twin Fangs" src="https://wiki.guildwars2.com/images/4/41/Twin_Fangs.png">
    </a>
</li>
<li class="width58"></li>
